# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
.next/
out/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
uploads/
apps/api/uploads/

# Prisma local db
prisma/*.db

# Prisma engine (regenerado no deploy)
node_modules/.prisma/
